* {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-size: 1.8rem;
}
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
header,
p {
    margin: 0;
    padding: 0;
}
